[Unit]
Description=A simple P2P based virtual private network: peanut discovery service

[Service]
Type=simple
WorkingDirectory=/srv/peanut-discovery
ExecStart=/srv/peanut-discovery/peanut-discovery -c /srv/peanut-discovery/discovery.yaml
Restart=always
RestartSec=2

[Install]
WantedBy=multi-user.target
